.savedPiece{
  background: black;
  border:  white 5px solid;
  border-radius: 20px;

  position: absolute;
  top: 15.5%;
  left: 20%;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.savedPiece .fila {
  outline: 1px solid white;
  width: 120px;
  height: 30px;
  display: flex;
}
.savedPiece .fila .columna{
  /* background: red; */
  outline: 1px solid white;
  width: 30px;
  height: 30px;
  
}
.nextPiece{
  background: black;
  border:  white 5px solid;
  border-radius: 20px;

  position: absolute;
  top: 15.5%;
  right:  20%;
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nextPiece h1{
  font-size: 20px;

}
.nextPiece .fila {
  outline: 1px solid white;
  width: 120px;
  height: 30px;
  display: flex;
}
.nextPiece .fila .columna{
  /* background: red; */
  outline: 1px solid white;
  width: 30px;
  height: 30px;
  
}
.game-over-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 2em;
  opacity: 0;
  animation: fadeIn 1s forwards; /* Animación de fade-in */
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.game-over-message {
  margin-bottom: 20px;
  animation: bounce 1s infinite alternate; /* Animación de rebote */
}

@keyframes bounce {
  from {
      transform: translateY(0);
  }
  to {
      transform: translateY(-10px);
  }
}
.player {
  display: flex;
  flex-direction: column; /* Alinea el marcador arriba y el canvas abajo */
  align-items: center; /* Centra horizontalmente el contenido dentro del player */
  position: relative; /* Permite el posicionamiento absoluto del marcador */
}
.player #time-label {
  font-weight: bold;
  margin-right: 5px; /* Espacio a la derecha de las etiquetas */
}
#time {
  font-weight: normal;
  margin: 0 10px; /* Espacio entre los números y las etiquetas */
}
.reset-button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #FF830D;
  border: none;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #FF5A00; /* Efecto de hover para el botón */
}
canvas.tetris {
  border: solid .2em #707070;
  height: 600px; /* Ajusta la altura al 100% del contenedor */
}
.all-clear-message {
  position: fixed;
  top: 50%; /* Centra verticalmente en el viewport */
  left: 50%;
  transform: translate(-50%, -50%) scale(1); /* Centra el mensaje y añade escala inicial */
  color: rgb(255, 243, 110);
  text-shadow: 0 0 5px black, 0 0 10px white, 0 0 15px rgb(255, 243, 110);
  font-size: 3em; /* Tamaño de fuente grande */
  
  padding: 20px;
  border-radius: 15px; /* Bordes redondeados más pronunciados */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.7); /* Sombra del texto */
  opacity: 0;
  animation: explode 1s ease-out forwards;
}

@keyframes explode {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2); /* Aumento inicial del tamaño */
  }
  60% {
    transform: translate(-50%, -50%) scale(1.1); /* Reducción parcial del tamaño */
  }
  100% {
    transform: translate(-50%, -50%) scale(0.8); /* Reducción final del tamaño */
    opacity: 0;
  }
}


@media screen and (max-width: 1336px){
  .savedPiece{
    background: black;
    border:  white 5px solid;
    border-radius: 20px;
  
    position: absolute;
    top: 13%;
    left: 25%;
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}